* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    margin: 0 auto;
    padding: 15px;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.overlay {
    width: 99vw;
    height: 99vh;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    z-index: 10;
    top: 0;
}

.blurBackground {
    animation: blur 2s ease-in forwards;
}

.content-container {
    background-color: lightsteelblue;
    padding: 50px;
    height: 100vh;
}

button {
    border-radius: 4px;
    background-color: magenta;
    padding: 5px;
    font-size: 16px;
    color: white;
    border: none;
    box-shadow: darkmagenta 0 2px 2px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: darkcyan;
        box-shadow: black 0 2px 4px;
    }
}

@keyframes blur {
    0% { background-color: rgba(255, 255, 255, 0); }
    100% { background-color: rgba(255, 255, 255, 0.9); }
}
